@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: .6em;
}

::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 6px;
    margin-block: .5em;
}

::-webkit-scrollbar-thumb {
    background: #d5dad9;
    border: 1px solid #fff;
    border-radius: 6px;
}

@media (max-width: 800px) {
    ::-webkit-scrollbar {
        display: none;
    }
    
    ::-webkit-scrollbar-track {
        display: none;
    }
    
    ::-webkit-scrollbar-thumb {
        display: none;
    }
}